* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    position: relative;
    overflow-x: hidden;
}

.radius {
    border-radius: .24rem;
    padding: 30px;
}

.cor-cinza {
    background: #fdfdfd;
}

.pointer {
    cursor: pointer;
}

.big {
    font-size: 1.5rem;
}