.pop-up
  z-index: 100
  background: rgba(0, 0, 0, .333)
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0 

  display: flex
  justify-content: center
  align-items: center

  .close
    position: absolute
    top: 10px
    right: 15px
    overflow: hidden
    font-size: 1.5rem
  
  .window
    border: none !important

    padding: 15px 30px
    display: block
    margin: 0 auto

  .window.overflow
    min-width: 90% !important
    height: calc(100% - 20px)
    top: 10px
    padding: 0
    overflow-y: scroll

  // .btn
  //   margin-top: 15px